a:link, a:visited {
	color: white;
}

#project-nav {
	color: #Black;
	font-family: 'IBM Plex Mono', monospace;
	font-weight: bold;
	margin-left: auto;
	margin-right: auto; 
	text-align: center;
}
		
#go-to-top {
	display: none;
	position: fixed;
	bottom: 10px;
	right: 1px;
	z-index: 99;
	font-size: 18px;
	border: 1px solid white;
	outline: none;
	background-color: #222831;
	color: white;
	cursor: pointer;
	padding: 15px;
	border-radius: 4px;
}

#go-to-top:hover {
	background-color: #273753;
}

.project-year {
	float: right;
}

.item-container {
	margin: auto;
	width: 85%;
	padding: 20px;
	height: auto;
	margin-bottom: 15px;
	color: #e4f9f5;
	border-radius: 25px;
	background-image: linear-gradient(to top, #222831, #1C273C);
} 

.item-contents {
	margin: auto;
	width: 90%;
	padding: 10px;
	border-radius: 25px;
	border-style: solid;
	border-color: white;
	border-width: 1px;
	font-family: 'IBM Plex Mono', monospace; 
	color: #e4f9f5;
}

/* Expanding feature for text on projects */
/* Style the button that is used to open and close the collapsible content */
.collapsible {
	cursor: pointer;
	padding: 10px;
	width: 100%;
	height: auto;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
	color: #e4f9f5;
	background-color:  #1F2935;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
 .collapsible:hover {
	background-color: #273753;
	border-radius: 25px;
}

/* Style the collapsible content. Note: hidden by default */
.contenthidden {
	padding: 0 18px;
	display: none;
	overflow: hidden;
	max-height: 0;
	transition: max-height 0.2s ease-out;
}
	
.proj-categories {
	display: flex;
	justify-content: center;
}
	
.proj-category-container {
	width: 20%px;
	padding: 10px;
}

.proj-category-img {
	width: auto;
	height: 80px;
}

.proj-category-heading {
	color: black;
	text-decoration: underline;
}

.proj-image {
	width: 40%;
	height: 100%;
	border-radius: 20px;
	float: right;
	margin-top:10px;
}

.prog-lang {
	text-align: center;
	padding: 7px;
	padding-left: 3px;
	margin: auto;
	background-color: #29467E;
	border-radius: 25px;
	font-weight: bold;
	font-family: 'IBM Plex Mono', monospace; 
	width: 15%;
}
	
/* These are the icons that appear before each of their respective categories. */
.proj-category-img-lower {
	width: auto;
	height: 80px;
}

.proj-category-heading-lower {
	text-align: center;
	text-decoration: underline;
}

@media screen and (max-width: 620px) {
	.column {
		padding-top: 10px;
		margin: 0px;
	}
	
	.item-container {
		margin-left: 0px;
		margin-right: 0px;
		border-radius: 10px;
		width: auto;
	}
	
	.item-contents {
		width: auto;
	}
	
	.proj-heading {
		font-size: 10pt;
	}
	
	.proj-image {
		float: none;
		width: 100%;
		border-radius: 10px;
	}
	
	/* These are the icons that appear at the top. */
	.proj-category-img {
		height: 50px;
	}
	
	.collapsible {
		padding: 0px;
		padding-left: 10px;
		padding-right: 10px;
	}

	.proj-category-heading-lower {
		text-align: center;
		text-decoration: underline;
		font-size: 14pt;
	}
	
	/* These are the icons that appear before each of their respective categories. */
	.proj-category-img-lower {
		height: 50px;
	}
}