#project-nav {
	color: #Black;
	font-family: 'IBM Plex Mono', monospace;
	font-weight: bold;
	margin-left: auto;
	margin-right: auto; 
	text-align: center;
}
		
/* Top Button */
#go-to-top {
	display: none;
	position: fixed;
	bottom: 10px;
	right: 1px;
	z-index: 99;
	font-size: 18px;
	border: none;
	outline: none;
	background-color: #222831;
	color: white;
	cursor: pointer;
	padding: 15px;
	border-radius: 4px;
}

#go-to-top:hover {
	background-color: #273753;
}

.item-container {
	margin: auto;
	width: 85%;
	padding: 20px;
	height: auto;
	margin-bottom: 15px;
	color: #e4f9f5;
	border-radius: 25px;
	background-image: linear-gradient(to top, #222831, #1C273C);
} 

.item-contents {
	margin: auto;
	width: 90%;
	padding: 10px;
	height: auto;
	margin-bottom: 15px;
	border-radius: 25px;
	border-style: solid;
	border-color: white;
	border-width: 1px;
	font-family: 'IBM Plex Mono', monospace; 
	color: #e4f9f5;
}
	
/* Icon lineup */
	
.column {		/* Three image containers (use 25% for four, and 50% for two, etc) */
	width: 20%px;
	padding: 10px;
}

.row {
	display: flex;
	justify-content: center;
}

@media screen and (max-width: 500px) {	/*for phones */
	.column {
	width: 100%;
	}
}

.row::after {		/* Clear floats after image containers */
	content: "";
	clear: both;
	display: table;
}

/* Expanding feature for text on projects */
/* Style the button that is used to open and close the collapsible content */
.collapsible {
	cursor: pointer;
	padding: 10px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
	color: #e4f9f5;
	background-color:  #1F2935;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
 .collapsible:hover {
	background-color: #273753;
	border-radius: 25px;
}

/* Style the collapsible content. Note: hidden by default */
.contenthidden {
	padding: 0 18px;
	display: none;
	overflow: hidden;
	max-height: 0;
	transition: max-height 0.2s ease-out;
}

.prog-lang {
	text-align: center;
	padding: 7px;
	padding-left: 3px;
	margin: auto;
	background-color: #29467E;
	border-radius: 25px;
	font-weight: bold;
	font-family: 'IBM Plex Mono', monospace; 
	width: 15%;
}

.proj-image {
	width: 500px;
	height: 400px;
	border-radius: 20px;
	float: right;
}